.App {
  text-align: center;
  
}

.App-header {
  background: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 2.5em;
  font-family: cursive;
}

.img {
  height: 300px;
  width: auto;
}
